.article {
   .container {
      max-width: 1080px;

      .image {
         background: rgba(#E2E2E2, 0.39);
      }

      .breadcrumb-items {
         margin-right: 5px;
         a{
            color: #2F2C55;
            font-family: "gotham-book";
            font-size: 18px;
         }
      }
      .breadcrumb-items.active {         
         a{
            color: #AC2153;
         }
      }
   }

   .half-bg {
      background: url(../images/image-thumb-lg.png) no-repeat;
      background-size: 60% 100%;

      @media (max-width: 991px) {
         background: none;
      }
   }

   .article-card {
      height: 100%;
      position: relative;
      border: 1px solid #939598;
      padding-bottom: 75px;

      .text {

         p {
            font-size: 16px;
         }

         .btn-red {
            position: absolute;
            left: 16px;
            bottom: 16px;
         }
      }
   }

   .after-banner {
      background: #7D193D;
      padding: 25px 45px;

      p {
         color: #fff;
         font-size: 30px;
         font-family: "gotham-bold";
         line-height: 33px;
      }

      @media(max-width: 991px) {
         padding: 20px 15px;

         p {
            font-size: 24px;
            line-height: 28px;
         }
      }
   }

   .foot-note {
      font-size: 16px;
   }
}